.settings {
  height: 500px;
}

.settings-text-align-center {
  text-align: center;

  input {
    margin: 0 auto;
    text-align: left;
  }

}

.setting-options {
  
  background-color : #3F4765;
  h2 {
    color: #FFF;
  }
  a { 
    color: #FFF;
    text-decoration: none; 
  }


  ul {

    padding : 0px;
    list-style-type: none;

    li {
      margin-bottom : 5px; 
      height        : 30px;
      
      // background-color : #C32C4F;

    }
  }
  
}

.setting-user-form {
  
  background-color : #FFF;
  


  .settings-photo {
    text-align : center; 
    
  }
}
