<div>  
  <div 
  class="col-md-12" 
  ng-class="{'col-md-12' : !attrs.isOnTopicPreview, 'col-md-3 community-menu-topics': attrs.isOnTopicPreview}">

  <div class="col-md-12">

    <ul class="list-unstyled">
      <li ng-repeat="topic in attrs.topics" ng-click="methods.openTopicPreview(topic)" >

        <div class="row" ng-class="{'topic-active' : methods.isActive({{topic.id}}) && attrs.isOnTopicPreview}" >

          <div class="col-md-1" ng-class="{'community-thumb-author-none' : attrs.isOnTopicPreview}">
            <img class="img-rounded" style="heigth: 75px; width: 75px;" src="{{topic.author.profile.photo}}" alt="">
          </div>
          <div class="col-md-11">

            <div class="col-md-12">
              <h4 align="left">{{topic.name}}</h4>
            </div>  

            <div class="col-md-12 row">
              <div class="col-xs-12 col-md-2" ng-class="{'col-md-12' : attrs.isOnTopicPreview}">Por: {{topic.author.profile.name}}</div>
              <div class="col-xs-12 col-md-8" ng-class="{'col-md-12' : attrs.isOnTopicPreview}">{{topic.answers}} respostas</div>
              <div class="col-xs-12 col-md-2" ng-class="{'col-md-12 topic-preview-on-last-update' : attrs.isOnTopicPreview, 'col-md-12 topic-preview-off-last-update' : !attrs.isOnTopicPreview}">{{topic.lastUpdate}}</div>
            </div>
          </div>
          
        </div>

        <div class="col-md-12">
          <hr>
        </div>

      </li>
    </ul>

  </div>

  <div class="col-md-12">
    <hr>
  </div>

</div>

<div class="preview-topic" ng-class="{'col-md-9 community-menu-topic-content transition-active-topic': attrs.isOnTopicPreview}"  ng-show="attrs.isOnTopicPreview">

  <h2 class="community-actual-title-topic">{{attrs.topic.title}}</h2>

  <div class="community-pages">
    <nav>
      <ul class="pagination">
        <li>
          <a href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
          <a href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <div ng-repeat="comment in attrs.comments">
    <div class="col-md-12 community-topic-container row">
      <div class="col-md-3 row">

        <div class="col-md-12">
          <img class="img-thumbnail" src="{{comment.author.profile.photo}}" alt="">
        </div>

        <div class="col-md-12 community-user-name">
          <h5>{{comment.author.profile.name}}</h5>
        </div>

      </div>
      <div class="col-md-9 row">

        <div class="class-md-12 community-topic-header">
          10:41 - 18 de janeiro de 2011
        </div>
        
        <div class="class-md-12">
          <p align="justify">
            {{comment.content}}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group col-md-12">
    <div text-angular ng-model="topic.content"></div>
  </div>

  <div class="col-md-offset-10 col-md-2">
    <button class="btn btn-primary">Comment</button>
  </div>

  <div class="community-pages">
    <nav>
      <ul class="pagination">
        <li>
          <a href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
          <a href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<div ng-show="attrs.isOnCreatePost">
  <div text-angular ng-model="htmlVariable"></div>
  <div class="form-group">
    <div class="col-md-offset-11 col-md-1">
      <button type="button" class="btn btn-primary">Submit</button>
    </div>
  </div>
</div>