.DS_Store
target/
target/*
database/
*.classpath
*.project
*.pmd
*.ruleset
*.checkstyle
*.settings/
*.db
*.log
bin/
bin-debug/
*.bak
*.orig
.metadata/
files/
node_modules/
.externalToolBuilders
/target/