/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;


.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector

@import url(http://fonts.googleapis.com/css?family=Open+Sans);

.ta-editor {
    min-height: 300px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
    margin:20px 0;
}

html, body, .main-view {
  height: 100%;
  padding: 0;
  margin: 0;
  width: 100%;
  font-family : 'Open Sans', sans-serif;
}

.not-login {
  background-color : #FFF;
}

.login {
  height: 100%;
  background: url("/assets/images/login.jpg") no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
  width: 100%;
}

.login-social {
    padding: 20px;
    line-height: 20px;
    color: #FFF;
    margin: 0px;
}

.login-social-facebook {
    background-color: #3b5998;
}
.login-social-twitter {
    background-color: #55acee;
}
.login-social-google {
    background-color: #db4437;
}

.community {
  min-height: 100%;
  padding-top: 72px;
  margin: 0;
  height: 1px;
}

.community-cover-container {
  margin-top : 10px;
  height     : 250px;
  overflow   : hidden;

  .community-cover-image {
    //width       : 100%;
    margin-left : -15px;
  }
}

.community-content-cover {
  margin-top : 10px;
  height: 250px;
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  border-top-left-radius : 5px;
  border-bottom-left-radius : 5px;

  .community-titles {
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    h4 {
      margin-top: -5px;
    }
  }
}

.topic-preview-on-last-update {
  text-align: left;
}
.topic-preview-off-last-update {
  text-align: right;
}


.community-tags {
  margin-top: 10px;

  span {
      color : #FFF;
      padding : 4px;
      margin-right: 5px;
      background-color : #C32C4F;
  }
}

.community-description {
  p {
    margin-top: 20px;
  }
}

.community-thumb-author-none {
  display: none;
}

.topic-active {
  background-color: rgba(48, 175, 212, 0.2);
}

.preview-topic {

  .community-actual-title-topic {
    padding: 5px;
    margin-bottom: -18px;
    z-index : 1;
  }

  .community-topic-container {
    //background-color : rgb(232, 236, 236);
    padding          : 5px 0px;
    margin-top       : 10px;
    margin-bottom    : 10px;
  }

  .community-pages {
    margin-top    : 20px;
    margin-bottom : 5px;
    text-align    : right;
  }

  // .community-topic-header {
  //   margin: 20px 0px 10px 0px;
  //   font-weight: bold;
  //   text-align: right;
  // }

}
