<div class="container setting-user-form ">

  <h2>Settings</h2>
  <hr>
  
  <form class="form-horizontal" name="settingsForm" novalidate>
    <div class="col-md-6">
      
      <div class="form-group">
        <label for="email">Email: </label>
        <input type="email" class="form-control" ng-model="settings.email" placeholder="Email" disabled>
      </div>
      
      <div class="form-group" ng-class="{ 'has-error' : settingsForm.username.$invalid &&!settingsForm.username.$pristine }">

        <label for="username">Username: </label>
        <input type="text" name="username" class="form-control" ng-model="attrs.settings.username" placeholder="Username" required>

        <p ng-show="settingsForm.username.$invalid && !settingsForm.username.$pristine">Enter a valid username.
        </p>
      </div>
      
      <div class="form-group" >

        <label for="description">Description: </label>
        <textarea name="description" class="form-control" cols="30" rows="5" ng-model="attrs.settings.description" placeholder="Description.."></textarea>

      </div>
    </div>
  </form>

  <div class="col-md-6">
    
    <div class="class-md-12">
      <div class="form-group">
        <input type="file" img-cropper-fileread image="attrs.cropper.source.cover" /> 
        <canvas width="540" height="260" id="canvas" image-cropper image="attrs.cropper.source.cover" cropped-image="attrs.cropper.cropped.cover" crop-width="100" crop-height="150" keep-aspect="true" touch-radius="30" crop-area-bounds="bounds"></canvas>
      </div>
    </div>

   <!--  <div class="class-md-12">
      <button type="submit" class="btn btn-primary" style="width: 100%;">Save</button>
    </div> -->
            
  </div>
  <div class="col-md-12" style="padding: 0px;">
    <button type="submit" class="btn btn-primary" style="width: 100%; margin-bottom: 10px" ng-click="methods.update()">Save</button>

  </div>
</div>