
<div class="c-list">
<!--   
  <div class="search">
    <button ng-click="methods.changeView()">Change View</button>
  </div> -->
  
  <div ng-show="isListView" class="community-item" ng-repeat="community in communities">
    <div class="col-md-2" ng-click="methods.goToCommunity({{community.id}})">
      <div class="col-md-12"><img class="" src="{{community.image}}" alt="..."></div>
      <div class="col-md-12">{{community.name}}</div>
    </div>
  </div>
</div>

<div ng-show="!isListView" class="community-item"  ng-repeat="community in communities">
  <div class="col-md-3 community-default-view">
    <div class="community-thumb">

      <div class="community-thumb-image">
        <a ui-sref="community.self({ id: community.id })">
          <img class="img-rounded" src="{{community.image}}" alt="...">
        </a>
      </div>

      <div class="tags-wrapper">
        <p ng-repeat="tag in community.tags" class="community-thumb-tags">
          <span>
            {{tag}}
          </span>
        </p>
      </div>
    </div>

    <div class="community-thumb-description">
      <p class="community-thumb-title">{{community.name}}</p>
    </div>
  </div>
</div>
</div>
