
<div>
  
  <div class="list-search container col-md-12">
    <input type="text" ng-model="attrs.autocompleteWord" ng-change="methods.search()">
  </div>
  
  <div class="container" infinite-scroll="methods.loadMore()" infinite-scroll-distance="0">
    <div class="community-item col-md-1"  ng-repeat="community in attrs.communities">
      <div class="community-thumb">

        <div class="community-thumb-image">
          <a ui-sref="community.self({ id: community.id })">
            <img class="img-rounded" src="{{community.image}}" alt="...">
          </a>
        </div>

        <div class="tags-wrapper">
          <p ng-repeat="tag in community.tags" class="community-thumb-tags">
            <span>
              {{tag.name}}
            </span>
          </p>
        </div>
      </div>

      <div class="community-thumb-description">
        <p class="community-thumb-title">{{community.name}}</p>
      </div>

    </div>
  </div>
</div>
