
.list-search {
  margin-top    : 20px; 
  margin-bottom : 20px;
  text-align: center;

  input {
    border: 0;
    border-bottom: 1px solid #B9AFAF;
    outline: 0;
    width             : 400px;
    height            : 30px;

    font-size: 24px;
  }
}

.list-view {
  margin-right  : 0;
  padding-right : 0;
}

.community-item {

  margin-bottom : 10px;
  position      : relative;
  float         : left;
  cursor        : pointer;
  min-height    : 1px;
  min-width     : 195px;
  // margin-top    : 20px;
}

.community-thumb {
  min-height : 1px;
  position   : relative;
  height     : 245px;
  width      : 185px;
  background-color : #000;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  overflow  : hidden;

  .community-thumb-image:hover {
    img {
      opacity: 0.4;
      filter: alpha(opacity=40);
    }
  }

  .tags-wrapper {
    min-height: 1px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: auto;
    line-height: 25px;

  }

  .community-thumb-tags {
    margin-bottom    :  5px;
    color            : #FFF;
    display: block;
    margin: 7px;
    margin-left: 0;

    span {
      padding:  5px 8px;
      background-color : #C32C4F;

    }
  }
}

.community-thumb-description {
  // margin    : 0px 0px 0px 20px;

  height      : 35px;
  line-height : 35px;
  width       : 185px;
  background-color: rgb(37, 48, 86);
  // border-bottom-left-radius: 5px;
  // border-bottom-right-radius : 5px;

  .community-thumb-title {
    margin: 0px 5px 5px 5px;
    text-align: center;
    vertical-align: text-top;
    color: #FFF;
    font-size : 12px;
  }
}
