
.search {
  margin-top  : 20px; 
}

.community-default-view {
  // min-height  : 16%;   
  // max-width   : 16%;  
}

.c-list {
  width: 100%;
  white-space: nowrap;
}

.community-item{
  position    :relative;
  float       : left;
  cursor      : pointer;
  min-height  : 1px;
  // margin      : 5px 0px 0px 20px;
  height    : 200px;
  width     : 200px;

  .box {
    width: 200px;
  }

  img {
    height    : 200px;
    width     : 200px;
  }

}