.topic-photo {
  width  : 75px;
  height : 75px;
}

.comment-photo {
  width  : 100px;
  height : 100px;
} 

.content-space {
  padding-left : 5%;
  padding-top  : 5%;
}

.comment-container {
  margin-top    : 15px;
}