<div class="container" >
  <form class="form-horizontal" name="communityCreateForm" novalidate>

    <div class="row">

      <div class="col-md-9">

        <div class="form-group" 
        ng-class="{ 'has-error' : communityCreateForm.name.$invalid && !communityCreateForm.name.$pristine }">
        <label class="control-label col-md-2">Name:</label>

        <div class="col-md-10">
          <input 
          type="text" 
          name="name" 
          class="form-control" 
          ng-model="community.name" 
          placeholder="Community name.." 
          required>

          <p ng-show="communityCreateForm.name.$invalid && !communityCreateForm.name.$pristine">
            Enter a valid name.
          </p>
        </div>

      </div>

      <div class="form-group">
        <label class="control-label col-md-2">Description:</label>
        <div class="col-md-10">
          <textarea
          name="description"
          class="form-control" 
          cols="30" 
          rows="5"
          ng-model="community.description" 

          placeholder="Description.." 

          ></textarea>
        </div>  
      </div>

      <div class="form-group">
        <label class="control-label col-md-2">Tags:</label>
        <div class="col-md-10">
          <select2 style="width: 100%;" ng-model="obj.field" s2-options="val.id as val.name for val in values" placeholder="Tags " multiple></select2>
        </div>
      </div>

      <div class="form-group">

        <label class="control-label col-md-2">Visibility:</label>
        <div class="col-md-2">

          <div class="radio">
            <label>
              <input 
              type="radio" 
              name="visibility"
              value="true"
              ng-model="community.visibility"
              checked
              >Public
            </label>
          </div>

          <div class="radio">
            <label>
              <input 
              type="radio" 
              name="visibility"
              value="false"
              ng-model="community.visibility" 
              >Private
            </label>
          </div>
        </div>

      </div>

      <div class="form-group">
        <input type="file" nv-file-select uploader="uploader"/><br/>
        <ul>
          <li ng-repeat="item in uploader.queue">
            Name: <span ng-bind="item.file.name"></span><br/>
            {{item.file}}
            <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
            <div ng-thumb="{ file: item.file, width: 100, height: 100 }"></div>

            <button ng-click="item.upload()">upload</button>
          </li>
        </ul>
      </div>



      <div class="form-group">
        <div class="col-md-offset-11 col-md-1">
          <button 
          type="button" 
          class="btn btn-primary"
          ng-click="methods.create()"
          ng-disabled="communityCreateForm.$invalid">Submit</button>
        </div>
      </div>

    </div> 
  </form>
</div>
