
.flice-title {
 
  font-size  : 42px;
  text-align : center;

  a {
    color           : #FFF;
    text-decoration : none
  }
}

.community-navbar {
  
  color            : #FFF;
  background-color : #C32C4F;
  //border-color     : #C32C4F;
  height           : 63px;
  line-height      : 63px;

  a {
    text-decoration : none;
    color: #FFF;
  }


}

.search-component {
  
  width         : 400px;

  input {
    height      : 35px;
    margin-top  : 6px; 
  }

  button {
    margin-top : -16px;
  }
}


.feedback {
  visibility       : hidden;
	position 				 : absolute;
	width  					 : 250px;
  right 					 : 0px;	
	background-color : #C32C4F; 
	font-color  		 : #FFF;
	margin-top  		 : 80px;
  box-shadow 			 : 2px 2px 2px #252525;

  .feedback-content {
  		color 			 : #FFF;
  	  padding 		 : 8px;
  }
}

.feedback-fade-in {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}

.feedback-fade-out {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}