
.flice-commmuntiy-title {

  a {
    text-decoration: none
  }
}

.feedback {
  visibility       : hidden;
	position 				 : absolute;
	width  					 : 250px;
  right 					 : 0px;	
	background-color : #C32C4F; 
	font-color  		 : #FFF;
	margin-top  		 : 80px;
  box-shadow 			 : 2px 2px 2px #252525;

  .feedback-content {
  		color 			 : #FFF;
  	  padding 		 : 8px;
  }
}

.feedback-fade-in {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}

.feedback-fade-out {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}