<div>  
  <div 
  class="col-md-12" 
  ng-class="{'col-md-12' : !attrs.isOnTopicPreview, 'col-md-3 community-menu-topics': attrs.isOnTopicPreview}">

  <div class="col-md-12">

    <ul class="list-unstyled">
      <li ng-repeat="topic in attrs.topics" ng-click="methods.openTopicPreview(topic)" >

        <div class="row" ng-class="{'topic-active' : methods.isActive({{topic.id}}) && attrs.isOnTopicPreview}" >

          <div class="col-md-1" ng-class="{'community-thumb-author-none' : attrs.isOnTopicPreview}">
            <img class="img-rounded topic-photo" src="{{topic.author.profile.photo}}" alt="">
          </div>
          <div class="col-md-11">

            <div class="col-md-12">
              <div class="col-md-9" style="padding: 0px">
                <h4 align="left">{{topic.name}}</h4>
              </div>
            </div>  

            <div class="col-md-12 row">
              <div class="col-xs-12 col-md-2" ng-class="{'col-md-12' : attrs.isOnTopicPreview}">By: {{topic.author.profile.name}}</div>
              <div class="col-xs-12 col-md-2" ng-class="{'col-md-12' : attrs.isOnTopicPreview}">{{topic.answers}} answers</div>
              <div class="col-xs-12 col-md-2" ng-class="{'col-md-12 topic-preview-on-last-update' : attrs.isOnTopicPreview, 'col-md-12 topic-preview-off-last-update' : !attrs.isOnTopicPreview}">{{topic.lastUpdate}}</div>
            </div>
          </div>
          
        </div>

        <div class="col-md-12">
          <hr>
        </div>

      </li>
    </ul>

  </div>

  <div class="col-md-12">
    <hr>
  </div>

</div>

<div class="preview-topic" ng-class="{'col-md-9 community-menu-topic-content transition-active-topic': attrs.isOnTopicPreview}"  ng-show="attrs.isOnTopicPreview">

  <div class="col-md-12 row">
    <div class="col-md-9" style="padding: 0px;">
      <h2 class="community-actual-title-topic">{{attrs.topic.name}}</h2>
    </div>
  </div>
 
  <div class="community-pages">
    <nav>
      <ul class="pagination">
        <li>
          <a href="" ng-click="methods.previousPage()" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>

        <li 
          ng-repeat="page in attrs.pages"
          ng-click="methods.getPage(page)"
          ng-class="{'active' : methods.isActivePage(page)} ">
          <a href="">{{page}}</a>
        </li>

        <li>
          <a href="" ng-click="methods.nextPage()" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <div ng-repeat="comment in attrs.comments">
    <div class="col-md-12 community-topic-container row">
      
      <div class="col-md-2">

        <div class="col-md-12">
          <img align="center" class="img-thumbnail comment-photo"  src="{{comment.author.profile.photo}}" alt="">
        </div>

        <div class="col-md-12">
          <h5>{{comment.author.profile.name}}</h5>
        </div>

      </div>
      
      <div class="col-md-10">

        <div class="col-md-12 community-topic-header">
            
          <div ng-class="{'col-md-offset-7 col-md-3' : comment.editable && comment.deletable, 'col-md-offset-7 col-md-5' : !comment.editable && !comment.deletable}">
            10:41 - 18/09/2011
          </div>
          <div ng-show="comment.editable && comment.deletable " style="text-align : right;" ng-class="{'col-md-2' : comment.editable}" >
            <span class="glyphicon glyphicon-pencil" aria-hidden="true" ng-click="methods.setEditActive({{comment}})"></span>
            <span class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="methods.delete({{comment}})"></span>
          </div>
        </div>
        
        <div ng-show="!methods.isEditActive({{comment.id}})" class="class-md-12">
          <p align="justify" ng-bind-html="comment.content"></p>
        </div>

        <div ng-show="methods.isEditActive({{comment.id}})">
          <div class="form-group col-md-12">
            <div text-angular ng-model="attrs.comment.content"></div>
          </div>

          <div class="col-md-offset-10 col-md-2">
            <button class="btn btn-default" ng-click="methods.setEditActive({{comment.id}})">Cancel</button>
            <button class="btn btn-primary" ng-click="methods.sendComment({{comment.id}})">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div ng-show="attrs.commentActive">
    <div class="form-group col-md-12">
      <div text-angular ng-model="attrs.comment.content"></div>
    </div>

    <div class="col-md-offset-10 col-md-2">
      <button class="btn btn-default" ng-click="methods.setCommentActive(false)">Cancel</button>
      <button class="btn btn-primary" ng-click="methods.sendComment()">Save</button>
    </div>
  </div>

  <div ng-show="!attrs.commentActive" class="col-md-12">
    <div style="text-align : right;">
      <button class="btn btn-primary" ng-click="methods.setCommentActive(true)">Comment</button>
    </div>
  </div>

  <div class="community-pages">
    <nav>
      <ul class="pagination">
        <li>
          <a href="" ng-click="methods.previousPage()" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>

        <li 
          ng-repeat="page in attrs.pages"
          ng-click="methods.getPage(page)"
          ng-class="{'active' : methods.isActivePage(page)} ">
          <a href="">{{page}}</a>
        </li>

        <li>
          <a href="" ng-click="methods.nextPage()" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>

</div>